/* You can add global styles to this file, and also import other style files */

$backgroundcolor: beige;
$buttoncolor: rgb(223, 166, 92);
$buttontext: white;
$titlecolor: rgb(250, 200, 85);
$subtitlecolor: rgb(250, 200, 85);
$regulartextcolor: rgb(70, 70, 70);
$inputtextcolor: black;
$smalltextcolor: gray;
$bordercolor: rgb(223, 166, 92);
$placeholdercolor: rgba(223, 166, 92, 0.664);

.background {
  background-color: $backgroundcolor;
}

.buttons {
  color: $buttoncolor;
  border-radius: 10px;
  font-size: 15px;
  background-color: white;
  border: $buttoncolor 1px solid;
  padding: 8px;
  min-width: 40px;
  outline: none;
  margin-top: 15px;
}

.buttons:hover {
    box-shadow: 0 0 1em $bordercolor, 0 0 1em gray, 0 0 0.2em gray;
}

.title {
  color: $titlecolor;
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

.subtitle {
  color: $subtitlecolor;
  font-size: 18px;
}

.regular-text {
  color: $regulartextcolor;
  font-size: 15px;
}

.small-text {
  color: $smalltextcolor;
  font-size: 12px;
}

body {
  background-color: rgba(255, 228, 196, 0.493);
}

input {
  color: $inputtextcolor;
  font-size: 15px;
  border-radius: 5px;
  border: 1px dotted $bordercolor;
  margin-top: 15px;
  padding: 10px;
  outline: none;
}

input::placeholder {
  color: $placeholdercolor;
}

.container {
  min-width: 320px;
  min-height: 380px;
  padding-bottom: 30px;
  padding: 10px;
  border: 1px solid $bordercolor;
  vertical-align: middle;
  flex-direction: column;
  background-color: rgba(255, 228, 196, 0.623);
}

form {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 400px) {
  .container {
    min-width: 240px;
  }
}
